/*body {
  margin: 0;
  padding: 0;
  color: #cecece;
}

.container {
  width; 80%;
  height: 600px;
  background-color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.nav ul {
  display: inline;

}

.nav li {
  display: inline-block;

}

.nav a {
  text-decoration: none;
}

.container h1 {
  font-weight: 100;
  color: #fff;
}*/
